.add-gig {
    margin-top: 100px;
    .form-control {
        label {
            text-align: left;
        }

        .input-field {
            min-width: 100%;
        }

        width: 100%;
    }
}
