.app-header {
  background-color: #fff;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid $clr4;

  transition: background-color 0.4s;

  &.home-transparent {
    background-color: transparent;
    position: fixed;
    top: 0;
    border-bottom: none;
    width: 100%;
    z-index: 150;

    .nav-container {
      .logo-and-search-box {
        .logo-font {
          color: $clr6;
        }
      }
    }
  }
  &.home-white {
    position: sticky;
    top: 0;
    z-index: 100000;
  }
  .nav-container {
    color: $clr14;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    height: 80px;

    &.home-transparent {
      color: $clr6;

      .logo-and-search-box {
        .navbar-search-box {
          display: none;
        }
      }
      .join {
        color: $clr6;
        border-color: $clr6;

        &:hover {
          background-color: $clr1;
        }
      }
    }

    .logo-and-search-box {
      display: flex;
      align-items: center;
      gap: 2em;
      .logo-font {
        font-family: "Lobster-Regular", sans-serif;
        font-size: 2em;
        color: $clr9;
        font-weight: 700;
        letter-spacing: 1px;
        .logo-point {
          color: $clr1;
        }
      }

      .navbar-search-box {
        display: none;
      }
    }
    nav > * {
      padding-inline-start: em(20, 16);
      &:hover {
        color: $clr1;
      }
    }

    .join {
      border: solid 1px $clr1;
      color: $clr1;
      font-weight: 700;
      padding: em(7, 16) em(20, 16);
      line-height: 100%;
      border-radius: 4px;
      margin-left: 1em;
      transition: color 0.5s ease, border 0.2s ease;
      &:hover {
        background-color: $clr22;
        border: solid 1px $clr22;
        color: $clr6;
      }
    }
  }
  .sub-nav-container {
    display: none;
  }
  .avatar-container {
    position: relative;
    width: 54px;

    .user-avatar {
      position: relative;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      color: #fff;
      &:hover {
        color: $clr6 !important;
      }
      p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .user-picture {
      position: relative;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: contain;
        justify-self: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .dot {
      position: absolute;
      width: 12px;
      height: 12px;
      bottom: 0;
      right: 0;
      border: white solid 2px;
      border-radius: 50%;
      background-color: $clr1;
    }
  }

  @media (max-width: 900px) {
    .black-screen {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.623);
      pointer-events: none;
      opacity: 0;

      transition: opacity 0.7s;
      &.open {
        overflow: hidden;
        opacity: 1;
        pointer-events: all;
      }
    }
    &.home-transparent {
      background-color: $clr6;
      position: sticky;
    }

    .nav-container {
      height: 70px;
      display: flex;
      justify-content: space-between;
      &.home-transparent {
        .logo-and-search-box {
          .logo-font {
            color: $clr9;
          }
        }
      }
    }

    .hamburger {
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $clr3;
    }

    .join-mobile {
      color: $clr3;
      &:hover {
        color: $clr10;
      }
    }

    .navbar-search-box {
      display: none;
    }

    .logo-font {
      color: $clr2;
    }

    .nav {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-end;
      background-color: $clr6;
      position: fixed;
      // z-index: 1000000000000;
      width: 272px;
      height: 100%;
      top: 0;

      padding-top: 20px;
      left: -272px;
      transition: all 0.3s ease;

      &.menu-open {
        transform: translateX(272px);
      }

      & > * {
        display: inline-block;
        padding: 8px 20px;
        color: $clr10;
        width: 100%;
      }
      .join {
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        background-color: $clr1;
        color: $clr6;
        width: auto;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
        margin-bottom: 20px;
        margin-left: 20px;
        &::after {
          content: " Fiverr";
        }
      }
    }
  }

  @include for-normal-layout {
    .hamburger {
      display: none;
    }
    .nav-container {
      .join-mobile {
        display: none;
      }
      .logo-and-search-box {
        .navbar-search-box {
          border-radius: 3px;
          border: 1px solid $clr4;
          height: 34px;
          display: flex;
          align-items: center;
          .search-box-icon {
            display: flex;
            margin: 0 7px;
            border-bottom-left-radius: 5%;
            border-top-left-radius: 5%;
            i {
              padding-top: 5px;
            }
          }
          button {
            margin: 0%;
            border-bottom-right-radius: 5%;
            border-top-right-radius: 5%;
            // width: 80px;
            height: 100%;
            border-radius: 0 3px 3px 0;
            font-size: rem(14px);
            font-weight: 700;
            padding: em(8, 14) em(16, 14);
          }
          input {
            border: none;
            font-size: rem(15px);
            width: 265px;

            &:focus,
            :active {
              outline: none;
            }
          }
          &:hover {
            border: 0.5px solid $clr10;
          }
        }
      }
    }
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // flex: 1;
    }
    .sub-nav-container {
      display: grid;
      border-top: 1px solid $clr4;

      &.home-up {
        display: none;
      }
      &.home-scroll {
        display: grid;
      }

      .sub-nav {
        height: 40px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $clr14;
        font-weight: 400;
        background-color: $clr6;

        &.home-up {
          display: none;
        }
        &.home-scroll {
          display: flex;
        }

        span {
          height: 100%;
          display: flex;
          align-items: center;
          &:hover {
            box-shadow: 0px 2px 0 $clr1;
          }
        }
      }
    }
  }
}
