.app-footer {
  border-top: solid 1px $clr4;
  .footer {
    color: $clr3;
    display: flex;
    flex-direction: column;
    .footer-links {
      display: none;
      visibility: hidden;
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // .footer-link:hover {
      //   cursor: pointer;
      //   text-decoration: underline;
      // }
    }
    .logo-font {
      font-family: "Lobster-Regular", sans-serif;
      font-size: 2em;
    }
    .copyrights-and-social-nav {
      padding-top: 5px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      color: $clr3;
      .logo-and-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .social-nav {
        display: flex;
        flex-direction: row;
        gap: 1em;
        a {
          color: $clr3;
        }
        a:visited {
          color: $clr3;
        }
        li {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .icon-wrap {
          height: 2em;
          width: 2em;
          padding: 0.25em;
          border-radius: 50%;
          transition: background-color 0.35s;
        }
        .icon-wrap:hover {
          background-color: $clr4;
          cursor: pointer;
        }
      }
    }
  }

  @include for-narrow-layout {
    .footer {
      padding-top: 2em;
      .footer-links {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-link:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .copyrights-and-social-nav {
        border-top: solid 1px $clr4;
        // padding-top: 0;
        margin-top: 2em;
        flex-direction: row;
        .logo-and-brand {
          flex-direction: row;
          gap: 20px;
        }
      }
    }
  }
  @include for-normal-layout {
  }
  @include for-wide-layout {
  }
}
