.app-footer {
  
  border-top: solid 1px $clr4;
  padding-top: 2em;
  // padding: 1em 0;
  // background-color: rgb(248, 247, 247);
  color: $clr3;
  // padding: 20px;
  // margin: 10px;
  display: flex;
  flex-direction: column;
  // padding-inline: 2em;
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .logo-font {
    font-family: "Lobster-Regular", sans-serif;
    font-size: 2em;
  }
  .copyrights-and-social-nav {
    border-top: solid 1px $clr4;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: $clr3;
    .social-nav {
      display: flex;
      flex-direction: row;
      gap: 1em;
      a {
        color: $clr3;
      }
      a:visited {
        color: $clr3;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon-wrap {
        /* don't take the whole line */
        // display: inline-block;
        transition: background-color 0.35s;
        /* height of the icon */
        height: 2em;
        /* width of the icon */
        width: 2em;
        /* space between the icon and the background edge */
        padding: 0.25em;
        /* make it rounded */
        border-radius: 50%;
      }
      .icon-wrap:hover {
        /* add a background on hover */
        background-color: $clr4;
        /* pointer cursor on hover */
        cursor: pointer;
      }
    }
  }
  @media (max-width: 900px) {
    width: 100vw;
    .footer-links, .copyright{
        display: none;
    }
   
}
}
