.login-background {
    position: fixed;
    background-color: rgba(0,0,0,.65);
    height: 100%;
    width: 100%;
    z-index: 9999;
}
.signIn-up-section {
    width: 400px;
    background-color: white;
    border-radius: 4px;
    h4 {
        font-family: macan,helvetica neue,Helvetica,Arial,sans-serif;
        text-align: center;
        font-size: 24px;
        color: #404145;
        padding: 32px 0;
        margin: 0;
    }
    form {
        padding: 0 36px 0px;
        input {
        background-color: #fff;
        font: inherit;
        color: #404145;
        padding: 8px 12px;
        margin: 0 0 16px;
        border-radius: 4px;
        border: 1px solid #c5c6c9;
        height: 42px;
        width: 100%;
        resize: none;
        }
        button {
            height: 42px;
            width: 100%;
            background-color: $clr1;
            border-radius: 4px;
            padding: 8px 12px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            transition: 70ms cubic-bezier(.75,0,.25,1);
            &:hover {
                background: #19a463;
            }
        }
    }
    .form-footer {
        height: 46px;
        color: #62646a;
        border-top: 1px solid #e4e5e7;
        p span:hover{
            text-decoration: underline;
        }
    }
}