.table-rating {
    color: $clr13;
    td {
        padding: 6px;
        min-width: 63px;
        font-weight: 600;
        line-height: 100%;
    }
    .num-stars {
        min-width: 68px;
    }
    .raters {
        max-width: 40px;
    }
    .line {
        padding-top: 10px;
        width: auto;
        flex-grow: 1;
    }
    @include for-narrow-layout {
        flex-basis: 50%;
    }
    @include for-normal-layout {
    }
    @include for-wide-layout {
    }
}
