.market-place-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    h3 {
        margin-top: 0%;
    }
    i {
        img {
            width: 48px;
            height: 48px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }
    // border-bottom: 2px solid $clr1;
    hr {
        transition: 0.5s;
        border: solid 1px $clr4;
        width: 30%;
    }
    &:hover {
        hr {
            width: 60%;
            border: solid 1px $clr1;
        }
    }
}
