.ninerr-guides{
    padding-top: 100px;
    padding-bottom: 100px;
    .guides-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        div{
           border: 1px solid black;
        }
    }
}