* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr1;
// }

html {
    font-family: work sans, Helvetica, Arial, sans-serif;
    // font-family: roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: $clr3;
}

body {
    font-size: rem(16px);
    margin: 0;
    //this should keep the footer in the bottom even when there is not too much content in the page
    min-height: 100vh; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    // font-family: caveat;
    // line-height: 1;
}

section,
main,
footer {
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    // all: unset;
}
// a:hover {
//     text-decoration: underline;
// }
