.about-us{
    margin-top: 150px;
    margin-bottom: 3em;
    width: 60%;
    margin-inline: auto;
    .content{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    button{
        margin-top: 2em;
        padding: 10px;
        border-radius: 3px;
        font-size: 1em;
        font-weight: 700;
       
        &:hover{
            background-color: $clr21;
        }
    }
    p{
        padding-top: 1em;
    }
}