.gig-app {
    color: $clr3;
    // margin-top: 40px;
    // padding-top: 34px;

    .headr-nav {
        margin-top: 30px;
        padding-bottom: 30px;
        & > * {
            padding-inline-end: 10px;
            color: #62646a;
            fill: #62646a;
        }
        span {
            display: flex;
            align-items: center;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .filters {
        flex-direction: column;
        margin-bottom: 1em;
        gap: 10px;
        .css-2m9kme-MuiFormControl-root {
            width: 100%;
            margin: 0;
        }

        .claer-btn {
            height: 56px;
            padding: 8px;
            border: 1px solid #c4c4c4;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $clr1;
                color: white;
            }
            p {
                text-align: center;
            }
        }
    }
    .no-gig-msg {
        margin-bottom: 40px;
    }
    @include for-narrow-layout {
        .filters {
            flex-direction: row;
            flex-wrap: wrap;

            .css-2m9kme-MuiFormControl-root {
                min-width: 270px;
            }
        }
        .box {
            max-width: 150px;
        }
    }
    @include for-normal-layout {
        // margin-top: 80px;
    }
    @include for-wide-layout {
    }
}
