.home-page {
    .hero-wrapper {
        // display: flex;
        // flex-direction: column;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 2fr 1fr;
        height: 100vh;
        position: relative;
        .hero-background {
            // height: 10vh;
            transition: 1000ms;
            // margin-bottom: 2em;
            &.transparent {
                opacity: 0;
            }
            img {
                width: 100%;
            }
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            // position: relative;
            // margin-bottom: 2em;
            .seller-name {
                // grid-area: 2/2/3/3;
                position: absolute;
                right: 40px;
                bottom: 20px;
                color: $clr6;
                font-weight: 700;
                text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
                text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
                .stars {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    color: rgb(233, 236, 10);
                }
            }
        }
        .hero-content {
            position: absolute;
            top: 80px;
            // left: 100px;
            z-index: 2;
            color: $clr6;

            h1 {
                margin-top: 25vh;
                font-size: 2.8em;
                line-height: 56px;
                // todo: download fonts
                font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
                font-weight: 700;
                padding-bottom: 24px;
            }
            .curly-word-style {
                font-family: MeriendaOne-One;
                font-weight: 400;
            }
            // form{
            .home-page-search-box {
                height: 2.8em;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0%;
                width: 100%;
                .search-box-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $clr6;
                    width: 10%;
                    height: 100%;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    margin: 0%;
                }
                i {
                    padding-top: 5px;
                    color: $clr3;
                }
                button {
                    margin: 0%;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    // padding-inline: 1em;
                    // width: fit-content;
                    // padding: auto 24px;
                    height: 100%;
                    font-size: 1em;
                    font-weight: 700;
                    &:hover {
                        filter: brightness(0.85);
                    }
                }
                input {
                    border: none;
                    height: 100%;
                    width: 100%;
                    font-size: 1em;
                    margin: 0%;
                }
                input:focus {
                    outline: none;
                }
            }
            .popular-categories {
                display: flex;
                gap: 1em;
                padding-top: 24px;
                span {
                    font-size: 14px;
                    font-weight: 600;
                    border: solid 0.5px $clr6;
                    border-radius: 2em;
                    padding-inline: 1em;
                    &:hover {
                        background-color: $clr6;
                        color: $clr3;
                        cursor: pointer;
                    }
                }
            }
        }
        // margin-bottom: 10em;
    }

    .social-proof-line {
        // position: sticky;
        // top: 200px;
        // left: 200px;
        z-index: 17;
        margin-top: 1.5em;
        // margin-bottom: 1em;
        color: $clr7;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
        font-size: 1.3em;
    }

    .popular-services {
        margin-top: 3em;
        h2 {
            font-size: 2em;
        }
    }
    .popular-services-carousel{
        // display: none;
    }
    .more-details-about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 4em 0;
        padding-inline-start: 32px;
        padding-inline-end: 32px;
        background-color: $clr11;
        // margin-bottom: 2em;
        // line-height: 3em;
        font-weight: 400;
        .content {
            padding-right: 15%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        span {
            margin-right: 1em;
        }
        h2 {
            line-height: 120%;
            color: $clr9;
            font-size: 2em;
            // padding-bottom: 24px;
            // margin-bottom: 1.25em;
            font-weight: 700;
        }
        h6 {
            span {
                margin-right: 10px;
                color: rgb(122, 125, 133);
            }

            svg {
                transform: translateY(4px);
                width: 24px;
                height: 24px;
            }
            display: flex;
            align-items: center;
            font-size: 1.125em;
            line-height: 140%;
            color: $clr9;
        }
        p {
            font-size: 1.125em;
            font-weight: 400;
        }
    }
    .explore-market-place {
        h2 {
            padding-top: 2em;
            font-size: 2em;
            // padding-bottom: 2em;
        }
        padding-bottom: 3em;
    }

    .find-the-talent {
        padding-left: 96px;
        color: $clr6;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #b3bec4;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            button {
                margin-top: 2.5em;
                // justify-self: flex-start;
                text-align: left;
                padding: 1em 2em;
                font-weight: 700;
                border-radius: 5px;
                background-color: $clr1;
                &:hover {
                    filter: brightness(0.85);
                }
            }
        }
        margin-bottom: 2em;
    }
    @media (max-width: 900px) {
        width: 100vw;
        overflow: hidden;
        .hero-wrapper {
            width: 100vw;
            background-color: #023a15;
            height: 55vh;
            .hero-background{
                display: none;
            }
            .hero-content{
                &.main-container {
                    
                    position: static;
                    margin-top: 100px;
                    
                    h1{
                        width: 100%;
                        margin-top: 1vh;
                        padding-top: 1em;
                        margin-bottom: 0px;
                        padding-bottom: 30px;
                        font-size: 2em;
                        height: fit-content;
                        line-height: 1.3em;
                    }
                    .popular-categories{
                        display: none;
                    }
                    .home-page-search-box{
                        display: grid;
                        grid-template-columns: 1fr 8fr;
                        grid-template-rows: 1fr 0.5fr 1fr;
                        .search-box-icon{
                            grid-area: 1/1/2/2;
                            width: 100%;
                            height: 40px;
                            // border-right: none;
                        }
                        input{
                            grid-area: 1/2/2/3;
                            width: 100%;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                            // border-left: none;
                        }
                        button{
                            margin-top: 10px;
                            grid-area: 2/1/3/3;
                            width: 100%;
                            height: 40px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }


                    }
                }
            }
        }
        .popular-services{
            display: none;
        }
        .popular-services-carousel{
            display: block;
        }
    }
    
}
