.home-page {
    .hero-wrapper {
        position: relative;

        > * {
            grid-area: 1/1/2/-1;
        }
        .hero-background {
            img {
                height: 100%;
            }
            transition: opacity 1s;

            &.transparent {
                opacity: 0;
            }
            .seller-name {
                position: absolute;
                right: 40px;
                bottom: 40px;
                color: $clr6;
                font-weight: 700;
                text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
                .stars {
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    color: rgb(233, 236, 10);
                }
            }
        }
        .hero-content {
            grid-area: 1/2/2/3;
            z-index: 100;
            color: $clr6;
            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                h1 {
                    font-size: rem(48px);
                    line-height: em(56, 48);
                    padding-bottom: em(24, 48);
                }
                .curly-word-style {
                    font-family: MeriendaOne-One;
                    font-weight: 400;
                }

                .home-page-search-box {
                    height: 2.8em;
                    display: flex;
                    flex-direction: row;
                    padding: 0%;
                    width: 50%;
                    .search-box-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $clr6;
                        width: 10%;
                        height: 100%;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        margin: 0%;
                    }
                    i {
                        padding-top: 5px;
                        color: $clr3;
                    }
                    button {
                        margin: 0%;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        height: 100%;
                        font-size: 1em;
                        font-weight: 700;
                        &:hover {
                            filter: brightness(0.85);
                        }
                    }
                    input {
                        border: none;
                        height: 100%;
                        width: 100%;
                        font-size: 1em;
                        margin: 0%;
                    }
                    input:focus {
                        outline: none;
                    }
                }
                .popular-categories {
                    display: flex;
                    gap: 1em;
                    padding-top: 24px;
                    span {
                        font-size: rem(14px);
                        font-weight: 600;
                        border: solid 0.5px $clr6;
                        border-radius: 2em;
                        padding-inline: 1em;
                        &:hover {
                            background-color: $clr6;
                            color: $clr3;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .social-proof-line {
        margin-top: 1.5em;
        color: $clr7;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
        font-size: 1.3em;
    }

    .popular-services {
        margin-top: 3em;
        h2 {
            font-size: 2em;
        }
    }

    .more-details-about-us {
        display: flex;
        background-color: $clr11;
        font-weight: 400;
        .content {
            flex-basis: 50%;
            padding-inline-end: 8%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        .img-womens {
            flex-basis: 50%;
        }
        span {
            margin-right: 1em;
        }
        h2 {
            line-height: 120%;
            color: $clr9;
            font-size: 2em;
            font-weight: 700;
        }
        h6 {
            span {
                margin-right: 10px;
                color: rgb(122, 125, 133);
            }

            svg {
                transform: translateY(4px);
                width: 24px;
                height: 24px;
            }
            display: flex;
            align-items: center;
            font-size: 1.125em;
            line-height: 140%;
            color: $clr9;
        }
        p {
            font-size: 1.125em;
            font-weight: 400;
        }
    }
    .explore-market-place {
        h2 {
            padding-top: 2em;
            font-size: 2em;
        }
        padding-bottom: 3em;
    }

    .talent {
        background-color: #b4bdc4;
        padding: 2.5em;
    }

    .find-the-talent {
        color: $clr6;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            button {
                margin-top: 2.5em;
                padding: 1em 2em;
                font-weight: 700;
                border-radius: 5px;
                background-color: $clr1;
                &:hover {
                    filter: brightness(0.85);
                }
            }
        }
    }
    @media (max-width: 900px) {
        width: 100vw;
        overflow: hidden;
        .hero-wrapper {
            width: 100vw;
            background-color: #023a15;
            height: 55vh;
            .hero-background {
                display: none;
            }
            .hero-content {
                &.main-container {
                    position: static;
                    margin-top: 100px;

                    h1 {
                        width: 100%;
                        margin-top: 1vh;
                        padding-top: 1em;
                        margin-bottom: 0px;
                        padding-bottom: 30px;
                        font-size: 2em;
                        height: fit-content;
                        line-height: 1.3em;
                    }
                    .popular-categories {
                        display: none;
                    }
                    .home-page-search-box {
                        display: grid;
                        grid-template-columns: 1fr 8fr;
                        grid-template-rows: 1fr 0.5fr 1fr;
                        .search-box-icon {
                            grid-area: 1/1/2/2;
                            width: 100%;
                            height: 40px;
                            // border-right: none;
                        }
                        input {
                            grid-area: 1/2/2/3;
                            width: 100%;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                            // border-left: none;
                        }
                        button {
                            margin-top: 10px;
                            grid-area: 2/1/3/3;
                            width: 100%;
                            height: 40px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                    }
                }
            }
        }
        .popular-services {
            display: none;
        }
        .popular-services-carousel {
            display: block;
        }
    }
}
