// Colors
$clr1: #1dbf73; // brand color
$clr2: #222325;
$clr3: #62646a; // main color
$clr4: #e4e5e7; //borders
$clr5: #ffbe5b; //star
$clr6: #fff; //font header
$clr7: #b5b6ba; //grey(heart)
$clr8: #7a7d85; //header nav links color
$clr9: #404145; // used in the more-about-us section in homepage
$clr10: #95979d;
$clr11: #f1fdf7; // homepage 'more-details-about-us' background
$clr12: #dadbdd;
$clr13: #4a73e8;

$clr20: #404145; // the real color of fiverr logo, used for our logo also
$clr21: #1a965c; // brand color - darkened for hover effect in buttons
$clr22: #19a463; // brand color - darkened for hover effect in buttons
// $clr5: #dff0ea;
// $clr6: #fff;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
